{{- if .Values.migrations.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "terrapod.fullname" . }}-migrations-{{ .Release.Revision }}
  labels:
    {{- include "terrapod.labels" . | nindent 4 }}
    app.kubernetes.io/component: migrations
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  ttlSecondsAfterFinished: 600
  template:
    metadata:
      labels:
        {{- include "terrapod.labels" . | nindent 8 }}
        app.kubernetes.io/component: migrations
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: OnFailure
      containers:
        - name: migrations
          image: {{ include "terrapod.api.image" . }}
          imagePullPolicy: {{ .Values.api.image.pullPolicy }}
          command:
            - alembic
            - upgrade
            - head
          env:
            {{- if .Values.postgresql.url }}
            - name: DATABASE_URL
              value: {{ .Values.postgresql.url | quote }}
            {{- end }}
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 512Mi
{{- end }}
