{{- if .Values.web.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "terrapod.fullname" . }}-web
  labels:
    {{- include "terrapod.labels" . | nindent 4 }}
    app.kubernetes.io/component: web
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "terrapod.web.selectorLabels" . | nindent 4 }}
{{- end }}
